@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .region-drag {
    -webkit-app-region: drag;
  }
  .region-no-drag {
    -webkit-app-region: no-drag;
  }
}
@layer base {
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    background-color: var(--n-color);
  }
}
* {
  font-family: var(--el-font-family) !important;
  user-select: none;
}

body,
html,
#app {
  background-color: var(--el-bg-color) !important;
  transition:
    background 90ms ease-out,
    background-color 90ms ease-out !important;
}
.el-tree {
  background: transparent !important;

  transition:
    background 90ms ease-out,
    background-color 90ms ease-out !important;
}

button,
input,
textarea,
.el-link,
.el-button,
.el-input,
.el-checkbox,
.el-avatar,
.el-autocomplete,
.n-button {
  -webkit-app-region: no-drag;
}
